.add-measurement {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .add-measurement h2,.add-measurement h3  {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
  }
  
  .add-measurement input,
  .add-measurement select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .add-measurement button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .add-measurement button:hover {
    background-color: #45a049;
  }
  
  .add-measurement p {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 10px;
  }
  
  .current-measurement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .current-measurement img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .current-measurement p {
    font-size: 16px;
    color: #333;
    text-align: center;
  }
  
  .current-measurement .values {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .current-measurement button {
    padding: 12px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .current-measurement button:hover {
    background-color: #0056b3;
  }
  
  