.add-measurement {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .add-measurement h2  {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 22px;
    color: #333;
  }

  .add-measurement h3  {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 22px;
    color: #333;
  }
  
  .add-measurement input,
  .add-measurement select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .add-measurement button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .add-measurement button:hover {
    background-color: #45a049;
  }

  .confirm-button{
    margin-left: 5px;
  }
  
  .add-measurement p {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: 0 0 12px 0;
  }
  
  .current-measurement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .current-measurement img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .current-measurement p {
    font-size: 16px;
    color: #333;
    text-align: center;
  }
  
  .current-measurement .values {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .current-measurement button {
    padding: 12px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .current-measurement button:hover {
    background-color: #0056b3;
  }
  
  .measurement-item img {
    max-width: 150px;
    height: auto;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .img-input {
    color: #333;
  }

  input::file-selector-button {
    color: #333;
  }
  